html {
  height: 100%;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}
a {
  text-decoration: none;
  padding: 8px;
  color: white;
}
.button {
  display: inline-block;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  transition: all 0.2s ease-out;
  font-size: 1.1em;
}
.button:active {
  box-shadow: 0px 3px rgb(61, 61, 61);
  transform: translateY(5px);
}
.button:focus {
  outline: 0 !important;
  border: 3px solid #4D90FE;
}
h2 {
  font-family: "Lato";
}
h2 > span {
  padding: 0px 10px;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
#container {
  position: relative;
}
/*****HEADER*****/
header {
  height: 100vh;
  width: 100%;
  min-height: 950px;
  position: relative;
  z-index: 2;
  background: linear-gradient(to bottom, black 97%, rgba(11, 24, 41, 0.2));
}
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: black;
  z-index: 1000;
  font-family: "Lato";
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.nav-padding {
  width: 100%;
  height: 50px;
}
nav ul {
  float: right;
}
nav li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.1em;
}
nav a {
  transition: all 0.4s ease-in-out;
}
nav li a:hover {
  text-shadow: 0px 0px 5px #fff,
  0px 0px 10px rgb(26, 198, 255),
  0px 0px 20px rgb(26, 198, 255),
  0px 0px 30px rgb(26, 198, 255),
  0px 0px 40px rgb(26, 198, 255);
}
.nav-mobile {
  text-align: right;
}
.nav-mobile i {
  display: inline-block;
  position: relative;
  margin-right: 25px;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 2.5em;
  cursor: pointer;
  color: white;
}
.nav-mobile-links {
  position: absolute;
  visibility: hidden;
  right: 0;
  top: 0;
  text-align: left;
  width: 160px;
  padding: 0;
  margin-top: 49px;
  background-color: black;
}
.nav-mobile-links li {
  display: block;
  position: relative;
  padding: 1px;
  font-size: 1.3em;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.nav-mobile-links li:nth-child(1) {
  z-index: 4;
}
.nav-mobile-links li:nth-child(2) {
  z-index: 3;
  transform: translateY(-40px);
}
.nav-mobile-links li:nth-child(3) {
  z-index: 2;
  transform: translateY(-80px);
}
.nav-mobile-links li:nth-child(4) {
  z-index: 1;
  transform: translateY(-120px);
}
/* .nav-mobile i:hover + .nav-mobile-links li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.nav-mobile-links:hover li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
} */
.nav-mobile-links.nav-mobile-links-open li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.nav-mobile-links a {
  display: block;
  padding: 5px;
}
nav .social-links.social-links-list {
  float: right;
  clear: right;
  margin: 25px 0px 0px 0px;
  padding: 5px 10px 5px 5px;
  background-color: rgba(0,0,0,1);
}
.social-tab {
  color: white;
  margin: 0px 10px;
  display: inline-block;
  cursor: pointer;
}
.social-tab a {
  padding: 0px;
}
.social-tab a:hover {
  text-shadow: 0px 0px 1px #fff,
  0px 0px 12px rgb(26, 198, 255);
}
.fab {
  font-size: 2em;
}
.header-container {
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 200px;
  padding: 2px 10px;
  max-width: 600px;
  animation: fadeInUp 0.8s ease-in-out;
}
.header-container h1 {
  font-size: 3.2em;
  font-family: "Rubik";
  margin-bottom: 25px;
}
.header-container h2 {
  max-width: 355px;
  line-height: 2;
  text-align: center;
  padding: 2px;
  font-size: 1.5em;
  margin: auto;
}
.sun-container {
  position: absolute;
  min-height: 950px;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
  transform: translateZ(0);
   animation: slideUpp 1.6s ease-in-out,bob 5s linear infinite 1.6s;
}
#sun-flare {
  display: block;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0.1;
  min-height: 950px;
  width: 810px;
  animation: sunFlare 1.6s linear infinite alternate;
}
#sun {
  display: block;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translate(-50%, 0%);
  min-height: 950px;
  width: 810px;
}
.next-section {
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
  color: black;
  transition: all 0.3s;
  animation: clickMe 2s linear infinite 2s;
}
.fa-chevron-down {
  font-size: 4em;
}
.next-section:hover {
  color: white;
}
/*****TECH LINES SVG*****/
.techLine-container, .svg-timeline-container, #canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.techLine-container {
  overflow: hidden;
  z-index: -11;
}
.techLine-container svg {
  height: 1000px;
  width: 100%;
}
.svg-timeline-container {
  z-index: -12;
}
.svg-timeline-container svg{
  width: 12%;
  overflow: hidden;
  z-index: -2;
}
.svg-timeline-hide {
  visibility: hidden;
}
#light-strobe-timeline {
  stroke-dasharray: 100px 1000px;
  stroke-dashoffset: 100px;
  animation: dash 3s linear infinite;
}
#light-strobe-fix {
  stroke-dasharray: 100px 1000px;
}
#canvas-wrapper {
  width: 100%;
  min-height: 950px;
  height: 100vh;
  overflow: hidden;
  z-index: -5;
}
#canvas {
  display: block;
  pointer-events: none;
}
/*****ABOUT*****/
.gradient-bg {
  background: linear-gradient(to bottom, rgba(11, 24, 41, 0.2) 5%, rgba(10, 155, 245, 0.4) 60%, #87CEFA);
}
.bg {
  position: relative;
  padding-top: 1px;
  overflow: hidden;
}
.stars, .gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.gradient {
  height: 3%;
  background: linear-gradient(to bottom, black, rgba(11, 24, 41, 0.7));
  z-index: -28;
}
.stars {
  background-color: #0b1829;
  z-index: -30;
}
#canvas-wrapper-stars {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -25;
}
#canvas-stars {
  pointer-events: none;
  display: block;
  position: fixed;
  top: 0;
}
#about {
  color: white;
  min-height: 900px;
  width: 100%;
}
#about > h2 {
  font-size: 3em;
  font-weight: bold;
  margin-left: 98px;
  margin-top: 100px;
}
.about-header {
  background-color: #707070;
  transition: 2s ease-in-out all, color 1.2s ease-in-out;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(37, 37, 37, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
       background-clip: text;
}
.about-tiles-container {
  display: inline-block;
  position: relative;
  width: 55%;
  min-height: 635px;
  text-align: center;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 6%;
  perspective: 1500px;
  white-space: nowrap;
}
/*******HEXAGONS SECTION*******/
/*****BORDER HEXAGON*****/
.border-hex {
  position: absolute;
  width: 210px;
  height: 121.24px;
  background-color: #212121;
  margin: 55px 0;
  left: -5px;
  top: -58px;
  z-index: -2;
  pointer-events: none;
  transform-style: preserve-3d;
}
.border-hex:before, .border-hex:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
}
.border-hex:before {
  bottom: 100%;
  left: 0;
  border-bottom: 60.62px solid #212121;
}
.border-hex:after {
  top: 100%;
  left: 0;
  border-top: 60.62px solid #212121;
}
/*****BORDER HEXAGON WITH SHADOW ON HOVER*****/
.about-tile:hover .border-hex {
  position: absolute;
  width: 210px;
  height: 121.24px;
  background-color: #212121;
  margin: 55px 0;
  left: -5px;
  top: -58px;
  z-index: -2;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transition: all 0.7s;
  pointer-events: none;
}
.about-tile:hover .border-hex:before, .about-tile:hover .border-hex:after {
  content: "";
  position: absolute;
  border: none;
  width: 148.49px;
  height: 148.49px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 30.7538px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transition: box-shadow 0.6s ease-out;
}
.about-tile:hover .border-hex:before {
  top: -74.2462px;
}
.about-tile:hover .border-hex:after {
  top: 47px;
  border-top: none;
  bottom: -74.2462px;
}
/******FOREGROUND HEXAGON NO SHADOW*******/
.hexagons {
  visibility: visible;
  height: 620px;
  font-family: "Lato";
}
.hex {
  position: absolute;
  width: 200px;
  height: 115.60px;
  background: linear-gradient(rgba(5, 74, 145,1), #3E7CB1);
  margin: 55px 0;
  left: 0px;
  top: -55px;
  z-index: -1;
  transform-style: preserve-3d;
  pointer-events: none;
}
.hex:before, .hex:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}
.hex:before {
  bottom: 100%;
  left: 0;
  border-bottom: 57.74px solid rgba(5, 74, 145,1);
}
.hex:after {
  top: 100%;
  left: 0;
  border-top: 57.74px solid #3E7CB1;
}
.hexagons .about-tile-icon > p {
  margin-top: 15px;
}
/*****FILLER HEXAGONS, NO CONTENT*****/
.hex-active {
  position: absolute;
  width: 200px;
  height: 115.59px;
  background: linear-gradient(to bottom, #424242, #757575);
  margin: 55px 0;
  left: 0px;
  top: -55px;
  z-index: -1;
  transform-style: preserve-3d;
  pointer-events: none;
}
.hex-active:before, .hex-active:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}
.hex-active:before {
  bottom: 100%;
  left: 0;
  border-bottom: 57.74px solid #424242;
}
.hex-active:after {
  top: 100%;
  left: 0;
  border-top: 57.74px solid #757575;
}
.about-tile {
  display: inline-block;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  position: relative;
  height: 115.47px;
  width: 200px;
  margin: 0 8px;
  text-align: center;
  white-space: normal;
  vertical-align: top;
  transform-style: preserve-3d;
  cursor: default;
  transition: all 1s;
}
.odd-row-hex .about-tile {
  top: 144px;
  left: 0px;
}
.even-row-hex .about-tile {
  top: 70px;
  left: 0;
}
.single-hex .about-tile {
  top: 0;
  left: 0px;
}
/***HANDLES CURSOR DETECTION ONLY ON HEXAGON***/
.about-tile:before, .about-tile:after {
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 58%;
  padding-bottom: 100%;
  pointer-events: auto;
}
.about-tile:before {
  transform: rotate(30deg) translate(11%, -29%);
}
.about-tile:after {
  transform: rotate(-30deg) translate(49%, -9%);
}
.about-tile-active {
  margin-top: -14px;
}
.about-tile-active:before {
  transform: rotate(30deg) translate(18%, -22%);
}
.about-tile-active:after {
  transform: rotate(-30deg) translate(43%, -2%);
}
/***HANDLES FLIPPING OF HEXAGON***/
.about-tile-hex-flip {
  transform-style: preserve-3d;
  transition: all 0.7s;
}
.about-tile-icon {
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.about-tile:hover .about-tile-hex-flip {
  transform: rotateY(-180deg);
}
.about-tile:hover.about-tile-active .about-tile-hex-flip {
  transform: none;
}
.odd-row-hex .about-tile:last-child:hover .about-tile-hex-flip {
  transform: rotateY(-180deg);
}
.even-row-hex .about-tile:last-child:hover .about-tile-hex-flip {
  transform: rotateY(-180deg);
}
.hexagons .about-tile-caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
/***CHANGES COLOR OF LAST HEXAGON ON EACH ROW***/
.odd-row-hex .about-tile:last-child .hex-active {
  background: linear-gradient(rgba(5, 74, 145,1), #3E7CB1);
}
.odd-row-hex .about-tile:last-child .hex-active:before {
  border-bottom: 57.74px solid rgba(5, 74, 145,1);
}
.odd-row-hex .about-tile:last-child .hex-active:after {
  border-top: 57.74px solid #3E7CB1;
}
.even-row-hex .about-tile:last-child .hex-active {
  background: linear-gradient(rgba(5, 74, 145,1), #3E7CB1);
}
.even-row-hex .about-tile:last-child .hex-active:before {
  border-bottom: 57.74px solid rgba(5, 74, 145,1);
}
.even-row-hex .about-tile:last-child .hex-active:after {
  border-top: 57.74px solid #3E7CB1;
}
/*****HEX ANIMATION FOR MOBILE*****/
.toggleAnimation > .single-hex:nth-child(1) .about-tile-animate {
  animation: flipOver 0.8s ease-out;
}
.toggleAnimation > .single-hex:nth-child(2) .about-tile-animate {
  animation: flipOver 0.8s ease-out 0.1s;
  transition: visibility 0s linear 0.1s, transform 1s;
}
.toggleAnimation > .single-hex:nth-child(3) .about-tile-animate {
  animation: flipOver 0.8s ease-out 0.2s;
  transition: visibility 0s linear 0.2s, transform 1s;
}
.toggleAnimation > .single-hex:nth-child(4) .about-tile-animate {
  animation: flipOver 0.8s ease-out 0.3s;
  transition: visibility 0s linear 0.3s, transform 1s;
}
/*****HEX ANIMATION FOR DESKTOP*****/
/*****EVEN ROW*****/
.toggleAnimation > .even-row-hex .about-tile-animate:nth-child(1) {
  animation: flipOver 0.8s ease-out;
}
.toggleAnimation > .even-row-hex .about-tile-animate:nth-child(2) {
  animation: flipOver 0.8s ease-out 0.1s;
  transition: visibility 0s linear 0.1s, transform 1s;
}
.toggleAnimation > .even-row-hex .about-tile-animate:nth-child(3) {
  animation: flipOver 0.8s ease-out 0.2s;
  transition: visibility 0s linear 0.2s, transform 1s;
}
.toggleAnimation > .even-row-hex .about-tile-animate:nth-child(4) {
  animation: flipOver 0.8s ease-out 0.3s;
  transition: visibility 0s linear 0.3s, transform 1s;
}
/*****ODD ROW*****/
.toggleAnimation > .odd-row-hex .about-tile-animate:nth-child(1) {
  animation: flipOver 0.8s ease-out 0.05s;
  transition: visibility 0s linear 0.05s, transform 1s;
}
.toggleAnimation > .odd-row-hex .about-tile-animate:nth-child(2) {
  animation: flipOver 0.8s ease-out 0.15s;
  transition: visibility 0s linear 0.15s, transform 1s;
}
.toggleAnimation > .odd-row-hex .about-tile-animate:nth-child(3) {
  animation: flipOver 0.8s ease-out 0.25s;
  transition: visibility 0s linear 0.25s, transform 1s;
}
.toggleAnimation > .odd-row-hex.single-hex .about-tile-animate {
  animation: flipOver 0.8s ease-out 0.15s;
  transition: visibility 0s linear 0.15s, transform 1s;
}
/***ABOUT TILE CONTENTS***/
.about-tile-icon > i {
  margin-top: -8px;
}
.about-tile-icon > p {
  font-size: 1.45em;
  font-weight: bold;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.about-tile-caption {
  font-size: 1.15em;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
}
.about-tile-caption > p {
  padding-left: 5px;
  padding-right: 5px;
}
#about .fas {
  font-size: 48px;
}
#about .fa-small {
  font-size: 32px;
  position: absolute;
  top: 21px;
  backface-visibility: hidden;
}
.about-picture-container {
  width: 350px;
  margin-top: 50px;
  margin-left: 15%;
  display: inline-block;
}
/***PICTURE CONTAINER CONTENTS***/
.about-picture {
  position: relative;
  top: -15px;
  height: 350px;
  width: 300px;
  margin: auto;
  border: 4px solid #212121;
  border-radius: 25px;
  background-color: black;
  box-shadow: 0px 5px 8px black;
  overflow: hidden;
}
.about-picture img {
  display: inline-block;
  margin-left: -13px;
  width: 305px;
}
.about-picture-caption {
  text-align: center;
  line-height: 1.8;
  margin-left: -50px;
  width: 450px;
  font-family: "Lato";
  font-weight: bold;
  font-size: 1.1em;
}
.about-picture-animation:nth-child(1) {
  animation: fadeInRight 0.8s ease-out;
}
.about-picture-animation:nth-child(2) {
  animation: fadeInUp 0.9s ease-out;
}
/***ABOUT ICONS***/
.about-tech-container {
  text-align: center;
  min-height: 300px;
}
.about-tech-icon {
  display: inline-block;
  padding: 5px;
  margin-top: 50px;
}
.icon {
  font-size: 7em;
  color: white;
}
.svg-icon {
  width: 122px;
}
/*****PORTFOLIO*****/
#portfolio {
  color: white;
  min-height: 900px;
  width: 100%;
  text-align: center;
}
#portfolio > h2 {
  font-size: 3em;
  font-weight: bold;
  margin-left: 98px;
  margin-top: 100px;
  text-align: left;
}
.project-header {
  background-color: #707070;
  color: transparent;
  transition: 2s ease-in-out all, color 1.2s ease-in-out;
  text-shadow: 0px 2px 3px rgba(37, 37, 37, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
       background-clip: text;
}
.portfolio-tiles-container {
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
}
/*****SPHERES AND CAROUSEL*****/
.sphere {
  display: block;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  background-image: url("../src/images/planet-svgrepo-com.svg");
  position: absolute;
  transition: transform 1s;
}
.animation-wrap {
  animation: bob 11s ease-in-out infinite;
}
.ani-one {
  animation-delay: 0s;
}
.ani-two {
  animation-delay: 1s;
}
.ani-three {
  animation-delay: 2s;
}
.ani-four {
  animation-delay: 3s;
}
.carousel-container {
  perspective: 2000px;
  margin: 220px auto 0px auto;
  width: 300px;
}
.carousel {
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  transform-style: preserve-3d;
  transition: transform 1s;
}
.planet-position {
  transition: transform 1s linear;
}
.planet-container {
  height: 1px;
  transition: transform 1s cubic-bezier(.73,0,1,.83);
}
/***HANDLE X-AXIS TRANSLATION***/
.planet-container:nth-child(1) {
  transform: translateZ(300px);
}
.planet-container:nth-child(2) {
  transform: translateZ(250px) translateX(340px);
}
.planet-container:nth-child(3) {
  transform: translateZ(150px) translateX(-100px);
}
.planet-container:nth-child(4) {
  transform: translateZ(250px) translateX(-360px);
} 
/***HANDLE Y-AXIS TRANSLATION***/
.planet-one {
  transform: translateY(0px) scale3D(1,1,1);
}
.planet-two {
  transform: translateY(-60px) scale3d(0.78,0.78,0.78);
}
.planet-three {
  transform: translateY(-100px) scale3d(0.5,0.5,0.5);
}
.planet-four {
  transform: translateY(70px) scale3d(0.7,0.7,0.7);
}
/***ARROW BUTTONS***/
.button-container {
  display: inline-block;
  margin-top: 475px;
}
.button-container-position {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
}
.button-choice {
  background-color: #B0BEC5;
  border-radius: 25px;
  box-shadow: 0px 5px rgb(88, 88, 84);
  font-family: "Lato";
  font-size: 1.2em;
}
.button-container .button:disabled {
  color: black;
}
.button-container .fa {
  font-size: 1.5em;
}
.button-choice:hover {
  background-color: #78909C;
}
/***PROJECT TITLES ON MOON (SPHERES)***/
.sphere-title {
  position: absolute;
  width: 300px;
  min-height: 55px;
  left: 50%;
  top: 103%;
  background-color: #555B6E;
  background-color: #B0BEC5;
  color: #212121;
  box-shadow: 0px 5px rgb(88, 88, 84);
  border-radius: 25px;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-out;
  transform: translate(-50%, 0%);
}
.sphere-title h2 {
  width: 300px;
  padding-left: 5px;
  padding-right: 5px;
  color: #212121;
  margin: 0;
}
.sphere-title a {
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: 25px;
  width: 300px;
  min-height: 55px;
  outline: none;
}
/***PROJECT TILES***/
.portfolio-tile {
  box-sizing: content-box;
  display: inline-block;
  width: 300px;
  height: 300px;
  position: relative;
  cursor: pointer;
  vertical-align: top;
  overflow: hidden;
  pointer-events: all;
  box-shadow: 0px 3px 10px black;
  border-radius: 100%;
}
.portfolio-tile a {
  padding: 0;
  margin: 0;
}
.portfolio-tile-link {
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: 100%;
  width: 300px;
  height: 100%;
  outline: none;
}
.portfolio-tile-image {
  display: block;
  width: 300px;
  height: 300px;
  transform: translateY(100%);
  transition: all 0.6s ease;
}
.portfolio-tile-image-foreground {
  display: block;
  width: 300px;
  height: 310px;
  background-color: rgba(0,0,0,0.1);
  pointer-events: none;
  transition: all 0.6s ease;
}
.carousel .planet-container:nth-child(1) .portfolio-tile-image {
  width: auto;
  height: 310px;
  margin-top: 0px;
  margin-left: -155px;
}
.carousel .planet-container:nth-child(2) .portfolio-tile-image {
  width: auto;
  height: 350px;
  margin-left: -185px;
}
.carousel .planet-container:nth-child(2) .portfolio-tile-image-foreground {
  height: 350px;
}
.carousel .planet-container:nth-child(3) .portfolio-tile-image {
  width: auto;
  height: 300px;
  margin-left: -145px;
}
.carousel .planet-container:nth-child(4) .portfolio-tile-image {
  width: auto;
  height: 310px;
  margin-top: -10px;
  margin-left: -155px;
}
/***PROJECT TOOLTIP***/
.project-tooltip {
  position: relative;
  width: 300px;
  height: 300px;
  top: -310px;
  left: 350px;
  pointer-events: none;
  transition: all .35s;
}
.project-tooltip:before {
  content: "";
  position: absolute;
  display: block;
  top: 150px;
  left: -50px;
  width: 75px;
  visibility: hidden;
  border-bottom: 5px solid black;
          transition: all .50s;
  -webkit-transition: all .50s;
  -moz-transition: all .50s;
}
.portfolio-tile-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  transform: translate(-50%, -50%) scale(0);
  background-color: #90CAF9;
  background-color: #555B6E;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 6px 15px black;
  pointer-events: none;
          transition: all .35s linear 0.15s;
  -webkit-transition: all .35s linear 0.15s;
  -moz-transition: all .35s linear 0.15s;
}
.portfolio-tile-overlay-header {
  color: white;
  pointer-events: none;
  transition: 0.8s ease;
}
.portfolio-tile-overlay-header h3 {
  background-color: #555B6E;
  background-color: #90CAF9;
  background-color: #64B5F6;
  margin-top: 30px;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 25px 25px 0 0;
  border-bottom: 2px solid white;
  margin-bottom: 0px;
  font-size: 1.4em;
}
.portfolio-tile-overlay-header h5 {
  margin-top: 20px;
  padding: 0px 10px;
  line-height: 1.5;
  font-size: 1em;
}
.portfolio-tile-overlay-icons {
  position: absolute;
  background-color: #555B6E;
  background-color: #90CAF9;
  background-color: #64B5F6;
  padding-top: 4px;
  padding-bottom: 1px;
  border-top: 2px solid white;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 25px 25px;
  pointer-events: none;
  transition: 0.8s ease;
}
.small-icon {
  font-size: 2.8em;
  color: white;
}
.svg-icon-small {
  display: inline-block;
  min-width: 38px;
}
.sphere-title:hover {
  background-color: #78909C;
}
.sphere-title:hover + a .portfolio-tile-image {
  transform: translateY(0);
}
.sphere-title:hover + a .portfolio-tile-image-foreground {
  transform: translateY(-100%);
}
.sphere-title:hover + a .portfolio-tile-front + .project-tooltip:before {
  visibility: visible;
  animation: tooltipLine 0.15s linear;
}
.sphere-title:hover + a .portfolio-tile-front + .project-tooltip .portfolio-tile-overlay {
  transform: translate(-50%, -50%) scale(1);
}
.portfolio-tile:hover .portfolio-tile-image {
  transform: translateY(0);
}
.portfolio-tile:hover .portfolio-tile-image-foreground {
  transform: translateY(-100%);
}
.portfolio-tile-front:hover + .project-tooltip:before {
  visibility: visible;
  animation: tooltipLine 0.15s linear;
}
.portfolio-tile-front:hover + .project-tooltip .portfolio-tile-overlay {
  transform: translate(-50%, -50%) scale(1);
}
.sphere a:focus .portfolio-tile-image {
  transform: translateY(0);
}
.sphere a:focus .portfolio-tile-image-foreground {
  transform: translateY(-100%);
}
.sphere a:focus .portfolio-tile-front + .project-tooltip:before {
  visibility: visible;
  animation: tooltipLine 0.15s linear;
}
.sphere a:focus .portfolio-tile-front + .project-tooltip .portfolio-tile-overlay {
  transform: translate(-50%, -50%) scale(1);
}
/*****FOOTER*****/
#contact {
  color: white;
  width: 100%;
  min-height: 525px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.contact-header {
  display: inline-block;
  padding-bottom: 40px;
}
.contact-header-light {
  background-color: #707070;
  color: transparent;
  transition: 2s ease-in-out all, color 1.2s ease-in-out;
  text-shadow: 0px 2px 3px rgba(37, 37, 37, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
       background-clip: text;
}
#contact > h2 {
  font-size: 3em;
  font-weight: bold;
  margin-left: 98px;
  text-align: left;
}
.contact-header > h3 {
  font-size: 1.9em;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Lato";
}
.contact-header > a {
  padding: 0px;
  transition: all 0.2s ease-in-out;
}
.contact-email {
  visibility: hidden;
}
.contact-header p {
  height: 50px;
  width: 400px;
  margin: auto;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0px 5px rgb(88, 88, 84);
  color: black;
  background-color: #FFEE58;
  font-size: 1.4em;
  font-weight: bold;
  transition: all 0.2s ease-out;
}
#contact .fas {
  color: #4D90FE;
}
.contact-header p:hover {
  background-color: #FFEA00;
}
.contact-header a:focus p {
  background-color: #FFEA00;
}
.contact-header p:active {
  box-shadow: 0px 3px rgb(61, 61, 61);
  transform: translateY(4px);
}
.animate-contact {
  visibility: visible;
  animation: contactPopIn 1.2s ease-in-out;
}
.animate-contact-plane {
  animation: fullRotate 1s ease-in-out 1.15s;
}
#earth {
  display: block;
  margin: auto;
  right: 0;
  left: 0;
  width: 75%;
  position: absolute;
  pointer-events: none;
  animation: rotateEarth 30s linear infinite;
}
#iss {
  width: 150px;
  position: absolute;
  left: 25px;
  bottom: 150px;
  z-index: 2;
  animation: bob 4s ease-in-out infinite;
}
/*****ANIMATIONS*****/
/* @keyframes animateSign {
  0% {
    text-shadow: 0px 0px 5px #fff,
    0px 0px 10px rgb(26, 198, 255),
    0px 0px 20px rgb(26, 198, 255),
    0px 0px 30px rgb(26, 198, 255),
    0px 0px 40px rgb(26, 198, 255);
  }
  20% {
    text-shadow: 0px 2px 3px rgba(37, 37, 37, 0.7);
  }
  30% {
    text-shadow: 0px 0px 5px #fff,
    0px 0px 10px rgb(26, 198, 255),
    0px 0px 20px rgb(26, 198, 255),
    0px 0px 30px rgb(26, 198, 255),
    0px 0px 40px rgb(26, 198, 255);
  }
  50% {
    text-shadow: 0px 2px 3px rgba(37, 37, 37, 0.7);
  }
} */
@keyframes animateSign {
  0% {
    text-shadow: 0px 0px 5px #fff,
    0px 0px 10px rgb(26, 198, 255),
    0px 0px 20px rgb(26, 198, 255),
    0px 0px 30px rgb(26, 198, 255),
    0px 0px 40px rgb(26, 198, 255);
  }
  30% {
    text-shadow: 0px 0px 5px #fff,
    0px 0px 10px rgb(26, 198, 255),
    0px 0px 20px rgb(26, 198, 255),
    0px 0px 30px rgb(26, 198, 255),
    0px 0px 40px rgb(26, 198, 255);
  }
}
@keyframes bob{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bob2 {
  0% {
    transform: translate(-50%,0px);
  }
  50% {
    transform: translate(-50%,-20px);
  }
  100% {
    transform: translate(-50%,0px);
  }
}
@keyframes clickMe {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(20%);
  }
  20% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(20%);
  }
  40% {
    transform: translateY(0%);
  }
}
@keyframes contactPopIn {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 100;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flipOver {
  0% {
    transform: rotateY(100deg);
  }
  40% {
    transform: rotateY(-10deg);
  }
  60% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fullRotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-60deg);
  }
  20% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes popIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}
@keyframes rotateEarth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slideUp {
  0% {
    transform: translate(-50%,500px);
  }
  50% {
    transform: translate(-50%, -75px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}
@keyframes slideUpp {
  0% {
    transform: translate(0%,500px);
  }
  50% {
    transform: translate(0%, -75px);
  }
  100% {
    transform: translate(0%, 0px);
  }
}
@keyframes sunFlare {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.55;
  }
}
@keyframes tooltipLine {
  0% {
    width: 0;
  }
  100% {
    width: 75px;
  }
}
/*****MEDIA QUERIES*****/
@media (min-width: 2401px) {
  .about-tiles-container {
    width: 58%;
    margin-left: 7%;
  }
}
@media (min-width: 1930px) and (max-width: 2400px) {
  .about-tiles-container {
    width: 63%;
    margin-left: 3%;
  }
}
@media (max-width: 1630px) {
  .about-tiles-container {
    text-align: left;
  }
  .odd-row-hex .about-tile {
    top: 144px;
    left: 108px;
  }
  .even-row-hex .about-tile {
    left: 0px;
  }
  .single-hex .about-tile {
    top: 0;
    left: 324px;
  }
}
@media (max-width: 1555px) {
  .about-tiles-container {
    width: 55%;
    margin-left: 4%;
  }
  .about-picture-container {
    margin-left: 11%;
  }
  .about-picture-caption {
    width: 350px;
    margin-left: 0px;
  }
}
@media (max-width: 1450px) {
  .about-tiles-container {
    margin-left: 2%;
  }
  .hex {
    width: 180px;
    height: 104px;
  }
  .hex:before, .hex:after {
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
  }
  .hex:before {
    border-bottom: 51.96px solid rgba(5, 74, 145,1);
  }
  .hex:after {
    border-top: 51.96px solid #3E7CB1;
  }
  .hex-active {
    width: 180px;
    height: 103.92px;
  }
  .hex-active:before, .hex-active:after {
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
  }
  .hex-active:before {
    border-bottom: 51.96px solid #424242;
  }
  .hex-active:after {
    border-top: 51.96px solid #757575;
  }
  .border-hex {
    width: 190px;
    height: 109.70px;
  }
  .border-hex:before, .border-hex:after {
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
  }
  .border-hex:before {
    border-bottom: 54.85px solid #212121;
  }
  .border-hex:after {
    border-top: 54.85px solid #212121;
  }
  .odd-row-hex .about-tile:last-child .hex-active:before {
    border-bottom: 51.96px solid rgba(5, 74, 145,1);
  }
  .odd-row-hex .about-tile:last-child .hex-active:after {
    border-top: 51.96px solid #3E7CB1;
  }
  .even-row-hex .about-tile:last-child .hex-active:before {
    border-bottom: 51.96px solid rgba(5, 74, 145,1);
  }
  .even-row-hex .about-tile:last-child .hex-active:after {
    border-top: 51.96px solid #3E7CB1;
  }
  .about-tile:hover .border-hex {
    width: 190px;
    height: 109.70px;
  }
  .about-tile:hover .border-hex:before, .about-tile:hover .border-hex:after {
    width: 134.35px;
    height: 134.35px;
    left: 27.8249px;
  }
  .about-tile:hover .border-hex:before {
    top: -67.1751px;
  }
  .about-tile:hover .border-hex:after {
    top: 43px;
    bottom: -67.1751px;
  }
  .about-tile {
    width: 180px;
    height: 103.92px;
  }
  .about-tile-icon > i {
    margin-top: -13px;
  }
  .about-tile-caption {
    margin-top: -8px;
  }
  .odd-row-hex .about-tile {
    top: 132px;
    left: 98px;
  }
  .even-row-hex .about-tile {
    top: 65px;
  }
  .single-hex .about-tile {
    top: 0;
    left: 294px;
  }
}
@media (max-width: 1300px) {
  .techLine-container {
    display: none;
  }
  .svg-timeline-container {
    display: none;
  }
  #canvas-wrapper {
    display: none;
  }
  #about > h2 {
    margin-left: 0px;
    text-align: center;
  }
  .about-tiles-container {
    min-width: 100%;
    margin: 0px;
    text-align: center;
  }
  .odd-row-hex .about-tile {
    top: 192px;
    left: 0px;
  }
  .even-row-hex .about-tile {
    top: 125px;
    left: 0;
  }
  .single-hex .about-tile {
    top: 60px;
    left: 0px;
  }
  .about-picture-container {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  .about-picture {
    margin: auto;
  }
  .about-picture-caption {
    margin: auto;
    max-width: 600px;
  }
  #portfolio > h2 {
    margin-left: 0px;
    text-align: center;
  }
  #contact > h2 {
    margin-left: 0px;
    text-align: center;
  }
}
@media (max-width: 1150px) {
  .button-container {
    margin-top: 425px;
  }
  .button-choice-info {
    display: block;
    width: 50px;
    margin: auto;
    margin-top: 10px;
  }
  .planet-container:nth-child(1) {
    transform: translateZ(300px);
  }
  .planet-container:nth-child(2) {
    transform: translateZ(200px) translateX(250px);
  }
  .planet-container:nth-child(3) {
    transform: translateZ(150px) translateX(0px);
  }
  .planet-container:nth-child(4) {
    transform: translateZ(200px) translateX(-250px);
  } 
  .planet-one {
    transform: translateY(30px);
  }
  .planet-two {
    transform: translateY(-20px) scale3d(0.9,0.9,0.9);
  }
  .planet-three {
    transform: translateY(-100px) scale3d(0.8,0.8,0.8);
  }
  .planet-four {
    transform: translateY(-20px) scale3d(0.9,0.9,0.9);
  }
  .portfolio-tile-image {
    transform: translateY(0);
  }
  .portfolio-tile-image-foreground {
    transform: translateY(-100%);
  }
  .portfolio-tile-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  width: 300px;
  height: 300px;
  pointer-events: none;
          transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  }
  .portfolio-tile-overlay-header {
    color: white;
    pointer-events: none;
    transform: translateY(-100%);
    transition: 0.8s ease;
  }
  .portfolio-tile-overlay-header h3 {
    background-color: #78909C;
    margin-top: 30px;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 0px;
    font-size: 1.2em;
  }
  .portfolio-tile-overlay-header h5 {
    margin-top: 20px;
    padding: 0px 20px;
    line-height: 1.5;
    font-size: 1em;
  }
  .portfolio-tile-overlay-icons {
    position: absolute;
    background-color: #78909C;
    padding-top: 4px;
    padding-bottom: 12px;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    pointer-events: none;
    transition: 0.8s ease;
  }
  .small-icon {
    font-size: 2.8em;
    color: white;
  }
  .portfolio-tile:hover .portfolio-tile-overlay-header {
    transform: translateY(0%);
  }
  .portfolio-tile:hover .portfolio-tile-overlay, .portfolio-tile-overlay-icons {
    opacity: 1;
  }
  .portfolio-tile:hover .portfolio-tile-overlay-icons {
    transform: translateY(0%);
  }
  .portfolio-tile:hover .portfolio-tile-image {
    transform: scale(1.1);
  }
  .sphere a:focus .portfolio-tile-overlay-header {
    transform: translateY(0%);
  }
  .sphere a:focus .portfolio-tile-overlay, .portfolio-tile-overlay-icons {
    opacity: 1;
  }
  .sphere a:focus .portfolio-tile-overlay-icons {
    transform: translateY(0%);
  }
  .sphere a:focus .portfolio-tile-image {
    transform: scale(1.1);
  }
}
@media (max-width: 800px) {
  .about-tiles-container {
    min-height: 800px;
    white-space: normal;
  }
  .about-tile-caption {
    font-size: 1.18em;
    margin-top: -10px;
  }
  .single-hex .about-tile {
    top: 0px;
    left: 0;
  }
  .single-hex:nth-child(1) .about-tile {
    top: 60px;
    left: -50px;
  }
  .single-hex:nth-child(2) .about-tile {
    top: 120px;
    left: 50px;
  }
  .single-hex:nth-child(3) .about-tile {
    top: 180px;
    left: -50px;
  }
  .single-hex:nth-child(4) .about-tile {
    top: 240px;
    left: 50px;
  }
  #iss {
    width: 80px;
  }
}
@media (max-width: 600px) {
  #earth {
    bottom: -250px;
  }
  #iss {
    width: 60px;
  }
}
@media (max-width: 430px) {
  .icon {
    font-size: 6em;
  }
  .svg-icon {
    width: 106px;
  }
  .contact-header p {
    width: 350px;
  }
  #earth {
    bottom: -200px;
  }
  #iss {
    bottom: 125px;
  }
}
@media (max-width: 360px) {
  .about-picture {
    width: 280px;
    min-height: 280px;
  }
  .about-picture-caption {
    width: 280px;
    margin-bottom: 30px;
  }
  .contact-header p {
    width: 280px;
    padding-top: 15px;
    font-size: 1em;
  }
  #earth {
    bottom: -150px;
  }
}
/*****TOGGLE CLASSES*****/
.hideClass {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  animation: fadeOut 0.7s ease;
  height: 0px;
  max-height: 0px;
  transition: all 0.7s;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .sun-container {
    height: auto;
  }
  .about-header {
    background-color: transparent;
    color: rgb(56, 56, 56);
    text-shadow: 0px 2px 3px rgba(37, 37, 37, 0.7);
  }
  .about-tile-hex-flip {
    perspective: 1500px;
  }
  .about-tile-icon {
    perspective: 1500px;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: all 0.7s;
  }
  .about-tile-caption {
    visibility: hidden;
    transition: visibility 0s linear 0.2s;
  }
  .about-tile:hover .about-tile-hex-flip {
    transform: rotateY(-180deg);
  }
  .odd-row-hex .about-tile:last-child:hover .about-tile-hex-flip {
    transform: rotateY(-180deg);
  }
  .even-row-hex .about-tile:last-child:hover .about-tile-hex-flip {
    transform: rotateY(-180deg);
  }
  .about-tile:hover .about-tile-icon {
    z-index: -2;
  }
  .about-tile:hover .about-tile-caption {
    visibility: visible;
    backface-visibility: visible;
  }
  .svg-icon {
    width: 122px;
    height: 122px;
  }
  .carousel-container {
    display: none;
  }
  .button-container {
    display: none;
  }
  .portfolio-tile {
    box-sizing: content-box;
    display: inline-block;
    width: 400px;
    height: 300px;
    position: relative;
    cursor: pointer;
    vertical-align: top;
    overflow: hidden;
    border-radius: 0;
    visibility: hidden;
    margin: 5px;
    border-radius: 30px;
    border: 5px solid black;
  }
  .square-tiles {
    margin: auto;
    max-width: 1000px;
  }
  .portfolio-tile-link {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 10px;
  }
  .portfolio-tile a {
    padding: 0;
    margin: 0;
  }
  .portfolio-tile-animate {
    visibility: visible;
  }
  .square-tiles a:nth-child(odd) .portfolio-tile-animate {
    animation: fadeInRight 0.8s ease-out;
  }
  .square-tiles a:nth-child(even) .portfolio-tile-animate {
    animation: fadeInLeft 0.8s ease-out;
  }
  .portfolio-tile-image {
    display: block;
    width: 400px;
    height: 300px;
    transform: none;
    transition: all 0.8s ease;
  }
  .portfolio-tile-image-foreground {
    display: none;
  }
  .portfolio-tile:nth-child(1) .portfolio-tile-image {
    width: auto;
    height: 350px;
    margin-top: -35px;
    margin-left: -145px;
  }
  .portfolio-tile:nth-child(2) .portfolio-tile-image {
    width: auto;
    height: 400px;
    margin-left: -200px;
  }
  .portfolio-tile:nth-child(3) .portfolio-tile-image {
    width: auto;
    height: 300px;
    margin-left: -100px;
  }
  .portfolio-tile:nth-child(4) .portfolio-tile-image {
    width: auto;
    height: 400px;
    margin-left: -200px;
  }
  .portfolio-tile-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid black;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    width: 400px;
    height: 300px;
            transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
  }
  .portfolio-tile-overlay-header {
    color: white;
    transform: translateY(-100%);
    transition: 0.8s ease;
  }
  .portfolio-tile-overlay-header h3 {
    background-color: #78909C;
    margin-top: 30px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 0px;
    font-size: 1.5em;
  }
  .portfolio-tile-overlay-header h5 {
    margin-top: 20px;
    padding: 0px 10px;
    line-height: 1.5;
    font-size: 1em;
  }
  .portfolio-tile-overlay-icons {
    position: absolute;
    background-color: #78909C;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    transition: 0.8s ease;
  }
  .small-icon {
    font-size: 3em;
    color: white;
  }
  .svg-icon-small {
    display: inline-block;
    max-width: 38px;
    height: 38px;
  }
  .portfolio-tile:hover .portfolio-tile-overlay-header {
    transform: translateY(0%);
  }
  .portfolio-tile:hover .portfolio-tile-overlay, .portfolio-tile-overlay-icons {
    opacity: 1;
  }
  .portfolio-tile:hover .portfolio-tile-overlay-icons {
    transform: translateY(0%);
  }
  .portfolio-tile:hover .portfolio-tile-image {
    transform: scale(1.1);
  }
  .portfolio-tile-link:focus .portfolio-tile-overlay-header {
    transform: translateY(0%);
  }
  .portfolio-tile-link:focus .portfolio-tile-overlay, .portfolio-tile-overlay-icons {
    opacity: 1;
  }
  .portfolio-tile-link:focus .portfolio-tile-overlay-icons {
    transform: translateY(0%);
  }
  .portfolio-tile-link:focus .portfolio-tile-image {
    transform: scale(1.1);
  }
  .project-header {
    background-color: transparent;
    color: rgb(56, 56, 56);
    text-shadow: 0px 2px 3px rgba(37, 37, 37, 0.7);
  }
  .contact-header-light {
    background-color: transparent;
    color: rgb(56, 56, 56);
    text-shadow: 0px 2px 3px rgba(37, 37, 37, 0.7);
  }
  #iss {
    bottom: 0px;
  }
}
.animate-sign {
  position: relative;
  color: white;
  /* border-bottom: 5px solid white; */
  text-shadow: 0px 0px 5px #fff,
  0px 0px 10px rgb(26, 198, 255),
  0px 0px 20px rgb(26, 198, 255),
  0px 0px 30px rgb(26, 198, 255),
  0px 0px 40px rgb(26, 198, 255);
  /* animation: animateSign 0.5s ease-in; */
  animation: animateSign 1.2s ease-in;
}
.animate-sign::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 45%;
  box-shadow: 0px 0px 15px rgb(26,198,255);
  border: 3px solid rgba(255,255,255,0.6);
  animation: fadeOut 1.2s ease-in forwards;
}